DATABASE_URL="postgres://dokploy:amukds4wi9001583845717ad2@localhost:5432/dokploy"
PORT=3000
NODE_ENV=development

# Umami Analytics
UMAMI_BASE_URL=https://analytics.onestack.run
UMAMI_ADMIN_USERNAME=admin
UMAMI_ADMIN_PASSWORD=
